h1, h2, h3, h4 {
	text-transform: capitalize;
	/*margin-bottom: 30px;*/
	text-align: center;
}

footer {
	width: 930px;
	position: absolute;
	bottom: 15px;
	/*padding: 5px;*/
	z-index: 1;
}

.card-body {
    padding: 1.15rem;
}

.homeBtn {
	/*background: url("../images/home-icon.png");*/
}

.backBtn {
	/*background: url("../images/back-icon.png");*/
}

.backBtn, .homeBtn, .historyBtn {
	/*background-position: center center;*/
	/*background-size: contain;*/
	/*background-repeat: no-repeat;*/
	padding: 20px 35px;
	border: 1px solid black;
	border-radius: 3px;
	font-size: 26px;
	min-width: 130px;
	text-align: center;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.backBtn:active, .homeBtn:active, .historyBtn:active {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e5e5e5ffffff',GradientType=0 ); /* IE6-9 */
}

.btnGradient {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.btnGradient:active {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e5e5e5ffffff',GradientType=0 ); /* IE6-9 */
}

.input-group {
    width: 370px;
    margin: 0 auto;
    height: 65px;
}

input {
	font-size: 45px !important;
	text-align: center;
}

.main-screen {
	position: relative;
	width: 960px;
	height: 620px;
	border: 1px black solid;
	border-radius: 5px;
	margin: 0 auto;
}

.app-page{
	display: none;
	width: 100%;
	height: 100%;
	padding: 15px;
}

.begin-1a {
	background-image: url(../images/touch.png);
	background-position: center 35%;
	background-repeat: no-repeat;
	background-size: 30%;
}

.begin-1a h1 {
	margin-bottom: 10px;
}

.langBtn {
	display: inline-block;
	font-size: 35px;
	margin: 0 6px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 15px 15px;
}

.langBtn.active {/*
	color: white;
	background-color: black;*/
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e5e5e5ffffff',GradientType=0 ); /* IE6-9 */

}

.keypad {
	/*display: inline-block;*/
	margin-left: 275px;
	width: 465px;
	z-index: 999;
	position: relative;
}

.keypad .row {
	margin: 0;
}

.widekey, .key {
	margin: 5px 5px;
	display: inline-block;
	height: 75px;
	width: 85px;
	border: 1px solid black;
	border-radius: 3px;
	text-align: center;
	line-height: 75px;
	font-size: 36px;
	cursor: pointer;
}

.widekey {
	margin: 5px 0 0 35px;
	width: 145px;
	line-height: 70px;
	font-size: 32px;
}

.green-strip {
	background: green;
}
.red-strip {
	background: red;
}.yellow-strip {
	background: yellow;
}

.green-strip,
.red-strip,
.yellow-strip {
	width: 85%;
    height: 5px;
    margin: -10px auto 0;
}

.key, .widekey {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.key:active, .widekey:active {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e5e5e5ffffff',GradientType=0 ); /* IE6-9 */
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.insert-2b {
	background-image: url(../images/insert-card.png);
}

.swipe-2d {
	background-image: url(../images/swipe-card.png);
}

.login-success-4b {
	background-image: url(../images/take-card.png);
}

.insufficient-fund-7a {
	background-image: url(../images/insufficient-fund.png);
}

.withdraw-success-7b {
	background-image: url(../images/withdraw.png);
}

.deposit-money-10b {
	background-image: url(../images/deposit-money.png);
}

.sign-out-17a {
	background-image: url(../images/sign-out.png);
}

.change-passcode-18d,
.deposit-success-10b {
	background-image: url(../images/check-mark.png);
}

.insert-2b,
.swipe-2d,
.login-success-4b,
.insufficient-fund-7a,
.withdraw-success-7b,
.sign-out-17a,
.deposit-money-10b,
.change-passcode-18d,
.deposit-success-10b  {
	background-position: center 40%;
	background-repeat: no-repeat;
	background-size: 35%;
}

.withdraw-success-7b {
	background-position: center 60%;
}

.error-3a,
.account-error-3c,
.transfer-account-error-13a {
	background-image: url(../images/error.png);
}

.max-error-3b {
	background-image: url(../images/locked.png);
}

.error-3a,
.max-error-3b,
.account-error-3c,
.transfer-account-error-13a {
	background-position: center 45%;
	background-repeat: no-repeat;
	background-size: 30%;
}

.transfer-account-error-13a {
	background-position: center 45%;
}

.account-error-3c {
	background-position: center 60%;
}

.card.withdraw img,
.card.check-balance img,
.card.deposit img,
.card.transfer img,
.card.change-passcode img,
.card.sign-out img {
	margin: 0 auto;
	width: 150px;
	height: 150px;
	position: relative;
	top: -20px;
}

.main-5a .card {
	height: 220px;
}

.text-red {
	color: red;
}

.trans-history {
	max-height: 360px;
	overflow-y: scroll;
}

.trans-history table {
	margin: 0 auto;
}

.trans-history th, .trans-history td {
	padding: 1px 4px;
}

.change-passcode-18b,
.change-passcode-18c,
 {
	display: none;
}

.error-message {
	height: 30px;
	font-size: 24px;
    text-align: center;
    color: red;
}
